$font-family: Avenir, Helvetica, Arial, sans-serif;
$font-size: 14px;

$white: #fff;
$black: #000;
$grey-dark: #474b3f;
$grey: #545b4d; //#676b5a;
$grey-light: #9a9d93;
$green-dark: #8ea321;
$green: #c1d755;
$green-light: #e2f09c;
$orange-dark: #f5a448;
$orange: #f6df94;
$orange-light: #f7eed4;
$red-dark: #f3603f;
$red: #f37755;
$red-light: #f3bfb9;
